$tablet: 980px;
$mobile: 768px;

@import 'starter_pack.scss';
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+13px);

html, body {
	font-family: 'Oswald', sans-serif;
	font-size: $base_font_size;
	background: $secondary_lighter;
	line-height: 1.368;
	@media(max-width: 1100px) {
		font-size: 1.25vw;
	}
	@media ( max-width: 767px ) {
		font-size: 14px;
	}
}

body {
	background: url('../img/bg.png') top center no-repeat;
	background-size: cover;
}



.serif {
	font-family: 'Slabo 13px', serif;
}
.sans {
	font-family: 'Oswald', sans-serif;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;
}

#header {
	font-size: trem(22px);
	background: $primary;
	position: absolute;
	z-index: 10;
	width: 100%;
	a {
		color: inherit;
		text-decoration: none;
		padding: 0 .8em;
		text-transform: uppercase;
	}
	ul {
		li {
			color: $secondary;
			display: inline-block;
			padding: 2rem 0;
			vertical-align: top;
			& + li {
				&:not(.logo):not(.logo + li) {
					&:before {
						content: '|';
						display: inline-block;
					}
				}
			}
			&.logo {
				width: trem(320px);
				text-indent: -99999px;
				overflow: hidden;
				position: relative;
				margin-bottom: -15%;
				padding: 0;
				box-shadow: 0 0 1rem rgba(0,0,0, .8);
				a {
					padding-bottom: 55%;
					display: block;
					background: url('../img/logo.png');
					background-size: cover;
					background-repeat: no-repeat;
				}
			}
		}
	}
}

.flexslider {
	border: none;
	margin: 0;
}

#footer {
	padding: 2rem 0;
	background: $secondary_lighter;
	.widget {
		float: left;
		width: 33.33%;
		color: $primary;
		padding: 0 2rem;
		strong {
			font-weight: 700;
		}
		@extend .serif;
		& + .widget {
			border-left: 2px solid $primary;
		}
		h3 {
			font-weight: 700;
			font-size: trem(22px);
			text-transform: uppercase;
			text-decoration: underline;
			margin-bottom: 1rem;
			padding-top: .5rem;
			@extend .sans;
		}
		a {
			color: inherit;
			text-decoration: none;
			font-weight: 700;
		}
		p {
			padding-bottom: 1em;
		}
	}
}

.tweets {
	padding-bottom: 2rem;
	li {
		display: block;
		background: url('../img/twitter.png') left center no-repeat;
		background-size: trem(33px) auto;
		padding: 1em 0;
		padding-left: trem(43px);
	}
}

.social {
	padding-bottom: 2rem;
	margin: 0 -.5em;
	a {
		height: trem(40px);
		width: trem(40px);
		display: inline-block;
		background: url('../img/twitter.png') center center no-repeat;
		background-size: contain;
		overflow: hidden;
		text-indent: -99999px;
		margin: 0 .5em;
		&.fb {
			background-image: url('../img/facebook.png');
		}
		&.instagram {
			background-image: url('../img/instagram.png');
		}
		&.google {
			background-image: url('../img/gplus.png');
		}
		&.yelp {
			background-image: url('../img/yelp.png');
		}
	}
}

.entry-content {
	padding-top: trem(220px);
	padding-bottom: 2rem;
	font-size: trem(20px);
	p {
		@extend .serif;
	}
	h1 {
		font-size: trem(150px);
		text-align: center;
		line-height: 1em;
		text-transform: uppercase;
		color: $primary;
		font-weight: 700;
		margin-bottom: 1rem;
	}
	.h1 {
		max-width: 80%;
		padding: 1rem 0;
	}
}

.centered {
	text-align: center;
}

.get_lucky {
	form {
		max-width: trem(400px);
		margin: 1rem auto;
	}
}

input:not([type="submit"]) {
	display: block;
	width: 100%;
	font-size: 1em;
	margin-bottom: .45em;
	border-radius: .45em;
	padding: .25em;
	@extend .serif;
	-webkit-appearance: none;
}

.getLucky__btn {
	background: url('../img/submit.png') center center no-repeat;
	background-size: contain;
	-webkit-appearance: none;
	border: none;
	overflow: hidden;
	text-indent: -9999px;
	width: trem(160px);
	height: trem(160px);
	cursor: pointer;
}





